[Unit]
Description=AnsysCSPAgentManagerService
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/go/ansysCSPAgentManagerService/ansysCSPAgentManagerServiceApp
StandardOutput=/usr/local/go/ansysCSPAgentManagerService/ansysCSPAgentManagerServiceApp.log
StandardError=/usr/local/go/ansysCSPAgentManagerService/ansysCSPAgentManagerServiceApp-error.log
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target