[Unit]
Description=HelloWorldGoOsService
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/go/agentOsService/HelloWorldGoOsService
StandardOutput=file:/usr/local/go/agentOsService/HelloWorldGoOsService.log
StandardError=file:/usr/local/go/agentOsService/HelloWorldGoOsService-error.log
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target