[Unit]
Description=HelloWorldGoOsService
After=network.target

[service]
Type=simple
User=root
ExecStart=/Users/jieanyang/Documents/freelancer_work/ansys/HelloWorldGoOsService/HelloWorldGoOsService
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target