[Unit]
Description=My Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/home/ec2-user/HelloWorldGoOsService/HelloWorldGoOsService
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target